html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
    box-sizing: border-box;
    background-color: #191a1c;
}
div {
    display: block;
    box-sizing: border-box;
}